streamlit
pandas
numpy
scikit-learn
reportlab
groq
altair
smolagents
streamlit-folium
folium
urllib3
asyncio
pydantic-ai
datetime
svglib
plotly
streamlit-option-menu
matplotlib
supabase
psycopg2-binary
vl-convert-python